@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

html {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  max-width: 2560px;
  min-width: 100%;
  background-color: black;
  margin: 0 auto;
  background-image: url(img/background_stars_in_the_sky.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
}

.ImgMurka {
  display: block;
  height: auto;
  width: 60%;
  position: relative;
  top: 0;
  left: 40%;
  padding: calc(12vw - 6vh) 0 0 0;
  z-index: -1;
}

.welcomeText {
  text-align: center;
  color: white;
  font-size: clamp(14px, 4vw, 80px);
  font-weight: 400;
  font-family: "Balsamiq Sans", cursive;
  position: absolute;
  top: clamp(3em, 4em, 7em);
  z-index: 1;
  left: 4%;
}

.welcomeText h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 5s ease-in forwards alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 0 #174def, 0 0rgb (0, 0, 0) fff, 0 0 0 #e6de00,
  0 0 0 #e6de00, 0 0 50px #e6de00, 0 0 60px #e6de00, 0 0 70px #e6de00;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e6de00, 0 0 160px #174def,
    0 0 160px #e6de00, 0 0 160px #174def, 0 0 320px #e6de00, 0 0 80px #174def;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.textAboutUs {
  text-align: center;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 3vw 1vh;
}
.textAboutUs1 {
  position: relative;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 3vw 1vh;
  top: -4px;
}

.textAboutUs p {
  font-family: "Mulish", sans-serif;
  /* font-size: calc(10px + 2vw); */
  padding: 1vh 5vw;
  font-size: clamp(12px, 1.5vw, 28px);
}
.textAboutUs1 p {
  font-family: "Mulish", sans-serif;
  font-size: calc(10px + 2vw);
  padding: 1vh 5vw;
  font-size: clamp(15px, 1.5vw, 28px);
}

.textAboutUs h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(18px, 2.3vw, 48px);
}
.textAboutUs1 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(18px, 2.3vw, 48px);
}

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.ProfileBlock {
  display: flex;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 2%;
  margin: 0.8%;
  width: 97%;
}

.ProfileBlock h3 {
  font-size: clamp(14px, 2vw, 26px);
}

.btn {
  cursor: pointer;
}

.bi {
  fill: #0033db;
  filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 0.4));
}

.bi:active {
  fill: #ffee00;
  filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 0.1));
}

.profilePic {
  border-radius: 500px;
  width: clamp(20vh, 20vw, 18vw);
  height: clamp(20vh, 20vw, 18vw);
  padding: 10px;
}

.profilePic .block {
  background-color: #e6de00;
}

.player {
  padding: 10px;
}

.player audio {
  width: calc(20vh + 10vw);
}

.table {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

.table span {
  font-weight: 900;
  font-size: 0.9em;
}

ul li {
  list-style: disc;
  margin: 5px;
  font-size: clamp(12px, 1.8vw, 20px);
}

ul {
  font-family: "Mulish", sans-serif;
}

.profiles_control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.profileText {
  width: 150%;
  padding: 0 20px;
  font-family: "Mulish", sans-serif;
}

.profileText p {
  margin: 0;
  font-size: clamp(12px, 1.8vw, 22px);
  text-align: center;
  font-family: "Mulish", sans-serif;
}

.block {
  width: 300px;
  height: 100px;
  background-color: #ffee00;
}

.footer {
  font-family: "Mulish", sans-serif;
  text-align: center;
  flex-direction: column;
  background-color: rgb(255 255 255 / 90%);
  position: absolute;
  width: 100%;
  /* min-width: 500px; */
}

.footer span {
  font-weight: 900;
}

.footer h3,
h2,
ul,
a {
  font-family: "Mulish", sans-serif;
  font-size: clamp(18px, 1.5vw, 38px);
}

.footer ul {
  text-align: left;
  border-top: rgba(0, 0, 0, 0.297) 2px dotted;
  border-bottom: rgba(0, 0, 0, 0.297) 2px dotted;
  padding: 0 calc(4vh + 5vw) 0 30%;
}

.footer p {
  font-size: clamp(15px, 1.2vw, 18px);
  text-align: left;
  border-top: rgba(0, 0, 0, 0.297) 2px dotted;
  padding: 0 17%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h2 {
  font-weight: 600;
  font-size: clamp(16px, 2vh, 30px);
  margin: 2vh 0 0 0;
}

.footer h3 {
  font-size: clamp(10px, 2vh, 28px);
  font-weight: 400;
}

.emailMurka3 {
  text-align: center;
  position: absolute;
}

.emailMurka3 a {
  text-shadow: 0 0 10px rgb(255 255 255 / 50%);
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3vh;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.textBlock2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  min-width: 800px;
  height: 1000px;
  position: relative;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
}

.btn {
  cursor: pointer;
}

.bi {
  fill: #0033db;
  filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 0.4));
}

.bi:active {
  fill: #ffee00;
  filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 0.1));
}

.player {
  padding: 10px 10px;
}

ul li {
  list-style: disc;
  margin: 5px;
}

ul p {
  text-align: center;
  font-size: clamp(14px, 1.2vw, 22px);
  font-weight: 800;
}

ul {
  font-family: "Mulish", sans-serif;
}

.btn2:active {
  background-color: #0033db;
  color: white;
}

.profiles_control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.profileText {
  width: 100%;
  padding: 5px 5px;
}

.profileText p {
  margin: 10px 0;
}

.ImgGroup {
  position: relative;
  z-index: -2;
  margin: 0 auto;
  width: 100%;
}

.flexContainer {
  /* padding: 20px; */
  position: relative;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  width: 99%;
  /* margin: 0 auto; */
}

.block-1 {
  display: flex;
  flex-direction: column;
  height: 0;
  gap: 0;
}

.block-2 {
  display: flex;
  flex-direction: column;
  height: 0;
  gap: 0;
}

.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100px;
  border: 2px solid black;
  background-color: #ffee00;
}

.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100px;
  border-radius: 10px;
  background-color: #ffee00;
}

.box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 100px;
  background-color: #c1c1c1;
  background-color: #ffee00;
}

.emailMurka2 {
  width: 60%;
  position: relative;
  align-content: center;
  justify-content: space-around;
}

.emailMurka2 a {
  color: #ffffff;
  text-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
  color: #ffffff;
  background: #333333;
  font-weight: 300;
}

.zoning4 {
  display: flex;
  justify-content: center;
  height: 0;
}

.after,
.before {
  padding: 0 1vh;
  width: 40%;
  text-align: left;
}

.zoning5 {
  height: 50px;
}

.links {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 3vw;
}

.platforms2 {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  padding: calc(10vh - 5vw) 0;
  top: 0;
}

.platforms {
  height: 0;
}

.icon {
  padding: 0 3vw;
}

.textBlockSpan {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: calc(10px + 2vw);
  padding: 1vh 5vw;
  font-size: clamp(16px, 1.7vw, 28px);
  font-weight: 800;
}

.emptySpace {
  width: 100px;
  height: 2vh;
}

/* .exceptionalIcon {
} */
